
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <div>
       <ul>
         {% for task in tasks %}
            <li>
                {{task.status}}
            </li>
         {% endfor %}
       </ul>
    </div>
    <div>
        {{task_3}}
    </div>
    <div>
        {{first_task}}
    </div> {% endcomment %}
    <div>
        {% comment %}
          <ol>
            {% for task in tasks %}
              <li>
                <span>{{task.title}}<span>
                {% for employee  in task.assigned_to.all%}
                  <p>E-name=> {{employee.name}}</p>
                {% endfor %}
              </li>
            {% endfor %}
        </ol>
        {% endcomment %}
        {% comment %} <P> {{task_count.num_task}}</p> {% endcomment %}
         {% for project in  projects%}
         <li>
           <p>{{project.name}}</p>
           <p>{{project.task_in_project}}</p>
         </li>


         {% endfor %}
    </div>
</body>
</html>